@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color:#A485C9;
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #7E5F95;
}

.hide-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}




.outlet-scroll::-webkit-scrollbar {
  width: 6px;
}

.outlet-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* .outlet-scroll::-webkit-scrollbar-thumb {
  background-color:#969595e3;
  border-radius: 10px;
} */

.outlet-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #7E5F95;
}

.hide-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}


/* If using Tailwind with PostCSS or global CSS */
.scrollbar-visible {
  scrollbar-width: auto;         /* Firefox */
  -ms-overflow-style: auto;      /* IE 10+ */
  overflow-y: hidden;
}

/* For WebKit (Chrome, Edge, Safari) */
.scrollbar-visible::-webkit-scrollbar {
  height: 7px;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #b3bbc9; /* Tailwind gray-400 */
  border-radius: 4px;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: transparent;
}


.react-select__control {
  border-color: #d1d5db !important; /* Tailwind's gray-300 */
  min-height: 40px;
}

.react-select__control--is-focused {
  border-color: #3b82f6 !important; /* Tailwind's blue-500 */
  box-shadow: none;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 6px;
}


/* Custom Scrollbar */
.emp-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.emp-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 10px;
}

.emp-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Tailwind's blue-500 */
  border-radius: 10px;
  border: 2px solid #f9fafb;
}

.emp-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Tailwind's blue-600 */
}

@media (max-width: 768px) {
  .emp-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

  /* .emp-scrollbar::-webkit-scrollbar {
    display: none; 
  } */
}


@keyframes customPulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-customPulse {
  animation: customPulse 1s ease-in-out infinite;
}


